body{
	font-family: calibri;
	margin: clamp(2.5%, 2vw, 25%);
	font-size: clamp(15px, 2vw, 30px);
}
header{
	background-color: gray;
	border-radius: 10px;
	align-content: center;
}
#name{
	text-align: center;
	font-size: 225%;
	font-style: italic;
	color: white;
}
.heading{
	background-color:gray;
	border-radius: 10px;
	display: inline-block;
	padding: 5px;
	color: white;
	margin-top: 0px;
}
.insideheading{
	background-color:gray;
	border-radius: 10px;
	display: inline-block;
	padding: 5px;
	color: white;
	margin-top: 0px;
}
#educationandskills{
	display: flex;
	justify-content: space-between;
}
ul{
	margin-top: 0px;
}